<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Options | AutoScrolling</title>
  </head>
  <body>
    <div id="<%= appConst.html.wrapper.id %>">
      <%- include('partial/body') -%>
    </div>
    <script type="text/javascript" src="options.js"></script>
  </body>
</html>
