<div>
  <strong>Disable double click action:</strong>
  <input type="checkbox"
         id="<%= appConst.options.disableDoubleClick.id %>" />
  <p class="mb-0">If enabled the option</p>
  <ul>
    <li>cannot open modal window</li>
    <li>start/stop scrolling is immediately</li>
  </ul>
  <p></p>
</div>
