<div>
  <strong>Keyboard shortcut for single-click action:</strong>
  <input type="text"
         id="<%= appConst.options.keybindSingleClick.id %>"
         value="<%= appConst.options.keybindSingleClick.value %>" />
  <p class="mb-0">Fire a single-click action by keyboard shortcut</br>
  <ul>
    <li>Start scrolling when window is stopped</li>
    <li>Stop scrolling when window is scrolling</li>
    <li>Close option modal window when the window is opened</li>
  </ul>
  The keybind should be a combination of keycodes concatenated with the '+' sign. <br>
  <i>Ex: Ctrl+Shift+Insert.</i><br>
  Check out the link for the keycodes: <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/commands#Key_combinations" target="_blank">Key combinations</a><br>
  <span class="text-gray">Notice: Some key combinations are reserved by the browser and can't be reassigned to this.<span></p>
</div>
