<div>
  <strong>Restore scrolling from switch back:</strong>
  <input type="checkbox"
         id="<%= appConst.options.restoreScrollingFromSwitchBack.id %>" />
  <p>If this option is enabled, scrolling which stopped by tab changing restarts when user is back to a tab that was scrolling.</p>
</div>
