<div>
  <strong>Restore scrolling from switch back:</strong>
  <input type="checkbox"
         id="<%= appConst.options.restoreScrollingFromSwitchBack.id %>" />
  <p>If this option is enabled, when user is back to a tab that was scrolling, stoped scrolling is restared.</p>
</div>
