<div>
  <strong>Stop when bottom of window:</strong>
  <input type="checkbox"
        id="<%= appConst.options.stopWhenBottomOfWindow.id %>" />
  <p>If enabled, scrolling is stopped when window position is reached at bottom.</p>
</div>
