<div>
  <strong>Scrolling stop by click:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingByClick.id %>" />
  <p>If enabled the option, scrolling is stopped when you click the scrolling window.</p>
</div>
