<div>
  <strong>Stop scrolling by cursor hovering over something:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingOnHover.id %>" />
  <p>If enabled the option, scrolling is stopped temporally when mouse cursor is hovering over something.</p>
</div>
