<div>
  <strong>Stop scrolling on focus out:</strong>
  <input type="checkbox"
         id="<%= appConst.options.stopScrollingOnFocusOut.id %>" />
  <p>If enabled the option, scrolling is stopped when browser application lost focus.</p>
</div>
